In [ ]:
# pandas
* used for tables
* pandas can be created in two ways
 * series
 * dataframe
* we can access the large volume of files using pandas
* pandas are used to analyze and to clean the data.

In [2]:
import pandas as pd

In [4]:
a = pd.Series([1,2,3,4])
a

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
a = pd.Series([1,2,3,4],index=["a","b","c","d"])
a

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
a["e"] =5
a

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
a["b"] = 6
a

a    1
b    6
c    3
d    4
e    5
dtype: int64

In [20]:
a=pd.Series([[" nichitha","deena","satya"],["431","434","448"],["50","45","49"]])
a

0    [ nichitha, deena, satya]
1              [431, 434, 448]
2                 [50, 45, 49]
dtype: object

In [22]:
a=[" nichitha","deena","satya"],["431","434","448"],["50","45","49"]
a

([' nichitha', 'deena', 'satya'], ['431', '434', '448'], ['50', '45', '49'])

In [24]:
a=[pd.Series(["vbs","bgdhg","gvf"]),pd.Series(["143","3342","245"])]
a

[0      vbs
 1    bgdhg
 2      gvf
 dtype: object, 0     143
 1    3342
 2     245
 dtype: object]

In [25]:
a={"name":["abcd","dcx","frdf"],
  "age":[20,56,78],
   "blood group":["o+","ab-","b+"]}
pd.DataFrame(a)

   name  age blood group
0  abcd   20          o+
1   dcx   56         ab-
2  frdf   78          b+

In [27]:
a={"name":["abcd","dcx","frdf"],
  "age":[20,56,78],
   "blood group":["o+","ab-","b+"]}
b=pd.DataFrame(a)
b.set_index("name")

      age blood group
name
abcd   20          o+
dcx    56         ab-
frdf   78          b+

In [36]:
a={"name":["abcd","dcx","frdf"],
  "age":[20,56,78],
   "blood group":["o+","ab-","b+"]}
b=pd.DataFrame(a)
b=b.set_index("name")
b

      age blood group
name
abcd   20          o+
dcx    56         ab-
frdf   78          b+

In [31]:
b.values

array([['abcd', 20, 'o+'],
       ['dcx', 56, 'ab-'],
       ['frdf', 78, 'b+']], dtype=object)

In [37]:
b.index

Index(['abcd', 'dcx', 'frdf'], dtype='object', name='name')

In [38]:
b.columns

Index(['age', 'blood group'], dtype='object')

In [44]:
type(b)

pandas.core.frame.DataFrame